body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_corr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(127, 136, 136);
    text-decoration: none;
    color: black;
}

.menu_corr:hover {
    background-color: rgb(45, 49, 49);
}