<form
  class="phosphorusCorrection"
  [formGroup]="phosphorusCorrectionForm"
  fxLayout="column"
  fxLayoutAlign="center center"
  (ngSubmit)="corrigir()"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1>Correção/Recuperação de Fósforo</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <span>Teor de Fósforo a atingir: </span>
    <mat-form-field appearance="outline">
      <mat-label>Teor a atingir mg.dm3</mat-label>
      <input
        required
        matInput
        class="teor"
        type="number"
        formControlName="teor"
        placeholder="Teor a atingir mg.dm3"
      />
    </mat-form-field>
    <span>Fonte de Fósforo a utilizar:</span>
    <mat-form-field appearance="outline">
      <mat-label>Fonte de Fósforo</mat-label>
      <mat-select
        required
        formControlName="fonteFosforo"
        name="Fonte de Fósforo"
      >
        <mat-option [value]="this.fonteFosforo.Superfosfato_Simples">
          Superfosfato Simples
        </mat-option>
        <mat-option [value]="this.fonteFosforo.Superfosfato_Triplo">
          Superfosfato Triplo
        </mat-option>
        <mat-option [value]="this.fonteFosforo.MAP"> MAP </mat-option>
        <!-- <mat-option [value]="this.fonteFosforo.DAP"> DAP </mat-option>
        <mat-option [value]="this.fonteFosforo.Yoorin"> Yoorin </mat-option>
        <mat-option [value]="this.fonteFosforo.Fosfato_Arad">
          Fosfato Arad
        </mat-option>
        <mat-option [value]="this.fonteFosforo.Fosfato_Gafsa">
          Fosfato Gafsa
        </mat-option>
        <mat-option [value]="this.fonteFosforo.Fosfato_Daoui">
          Fosfato Daoui
        </mat-option>
        <mat-option [value]="this.fonteFosforo.Fosf_Patos_Minas">
          Fosfato Patos Minas
        </mat-option>
        <mat-option [value]="this.fonteFosforo.Escoria_de_Thomas">
          Escória de Thomas
        </mat-option>
        <mat-option [value]="this.fonteFosforo.Acido_Fosforico">
          Ácido Fosfórico
        </mat-option>
        <mat-option [value]="this.fonteFosforo.Multif_Magnesiano">
          Multifosfato Magnesiano
        </mat-option> -->
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Custo R$</mat-label>
      <input
        required
        matInput
        class="custoFonte"
        type="number"
        formControlName="custoFonte"
        placeholder="Custo R$"
      />
    </mat-form-field>
    <span>Eficiência do fósforo %: </span>
    <mat-form-field appearance="outline">
      <mat-label>Eficiência do fósforo %:</mat-label>
      <input
        required
        matInput
        type="number"
        class="eficiencia"
        formControlName="eficiencia"
        placeholder="Eficiência do fósforo %"
      />
      <mat-hint>OBS. Sugerimos uma eficiência entre 70% a 90%</mat-hint>
    </mat-form-field>
  </div>
  <button class="btnSalvar" type="submit" mat-raised-button color="primary">Corrigir</button>
</form>

<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <h2>
    Quantidade a aplicar:
    <mat-form-field appearance="outline">
      <input
        matInput
        class="qntAplicar"
        [value]="this.results.qntAplicar"
        [disabled]="!this.results.qntAplicar"
        readonly
      />
      <mat-hint>kg/hectare</mat-hint>
    </mat-form-field>
  </h2>
  <h2>
    Custo - R$/ha:
    <mat-form-field appearance="outline">
      <input
        matInput
        class="custoHa"
        [value]="this.results.custoHa"
        [disabled]="!this.results.custoHa"
        readonly
      />
      <mat-hint>R$/ha</mat-hint>
    </mat-form-field>
  </h2>
</div>

<div *ngIf="this.results.nutrientesAdicionais" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Essa correção de FÓSFORO, fornecerá também (kg/ha):</mat-card-title>
    <mat-card-content  fxLayout="row" fxLayoutAlign="center center">
      <div *ngIf="this.results.nutrientesAdicionais[0]">
        <h3 class="nutrienteA">{{this.nutrienteB}}</h3>
        <mat-form-field appearance="outline">
          <input
          matInput
          class="qntNutrienteA"
          [value]="this.results.nutrientesAdicionais[0].correcaoAdicional"
          [disabled]="!this.results.nutrientesAdicionais[0].correcaoAdicional"
          readonly
        />
        </mat-form-field>
      </div>
      <div *ngIf="this.results.nutrientesAdicionais[1]">
        <h3 class="nutrienteB">{{this.nutrienteA}}</h3>
        <mat-form-field appearance="outline">
          <input
          class="qntNutrienteB"
          matInput
          [value]="this.results.nutrientesAdicionais[1].correcaoAdicional"
          [disabled]="!this.results.nutrientesAdicionais[1].correcaoAdicional"
          readonly
        />
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
