.tipoSolo {
    font-weight: bold;
    font-size: 15px
}

span {
    margin-bottom: 20px;
}

.generalData {
    margin: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cardLabel {
    font-weight: bold;
}

.cardIdeal {
    font-weight: bold;
    color: blue;
}

.cardIdeal span{
  color: rgb(124, 124, 124);
}

.cardCorrec {
  font-weight: bold;
  color: #006B6B;
}

.containerBtn {
	position:fixed;
	bottom:40px;
	right:40px;
}

.btnSalvar {
  width: 80px;
  height: 80px;
}
