<form
  class="generalData"
  [formGroup]="generalForm"
  fxLayout="column"
  fxLayoutAlign="center center"
  (ngSubmit)="salvar()"
>
<div class="containerBtn">
  <button class="btnSalvar" type="submit" mat-raised-button color="primary">SALVAR</button>
</div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <h1>Geral</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <span>Produtor: </span>
    <mat-form-field appearance="outline">
      <mat-label>Produtor</mat-label>
      <input class="produtor"  required matInput formControlName="produtor" placeholder="Produtor" />
    </mat-form-field>
    <span>Data: </span>
    <mat-form-field appearance="outline">
      <mat-label>Data</mat-label>
      <input class="data" required matInput formControlName="data" [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <span>Município: </span>
    <mat-form-field appearance="outline">
      <mat-label>Município</mat-label>
      <input class="municipio" required matInput formControlName="municipio" placeholder="Município" />
    </mat-form-field>
    <span>Lote: </span>
    <mat-form-field appearance="outline">
      <mat-label>Lote</mat-label>
      <input class="lote" required matInput formControlName="lote" placeholder="Lote" />
    </mat-form-field>
    <span>Área Total (ha): </span>
    <mat-form-field appearance="outline">
      <mat-label>Área Total (ha)</mat-label>
      <input class="areaTotal" required
        matInput
        formControlName="areaTotal"
        placeholder="Área Total (ha)"
      />
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <span>Talhão: </span>
    <mat-form-field appearance="outline">
      <mat-label>Talhão</mat-label>
      <input class="talhao" required matInput formControlName="talhao" placeholder="Talhão" />
    </mat-form-field>
    <span>Área do Talhão (ha): </span>
    <mat-form-field appearance="outline">
      <mat-label>Área do Talhão (ha)</mat-label>
      <input class="areaTalhao" required
        matInput
        formControlName="areaTalhao"
        placeholder="Área do Talhão (ha)"
      />
    </mat-form-field>
    <span>Matrícula do Lote: </span>
    <mat-form-field appearance="outline">
      <mat-label>Matrícula do Lote</mat-label>
      <input class="matriculaLote" required
        matInput
        formControlName="matriculaLote"
        placeholder="Matrícula do Lote"
      />
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <span>Textura De Solo: </span>
    <mat-form-field appearance="outline">
      <mat-label>Textura De Solo</mat-label>
      <mat-select required formControlName="texturaSolo" name="Textura De Solo">
        <mat-option [value]="this.tiposSolo.ARGILOSO"> Argiloso </mat-option>
        <mat-option [value]="this.tiposSolo.TEXTURA_MEDIA"> Texture Média </mat-option>
      </mat-select>
    </mat-form-field>
    <span *ngIf="this.generalForm.value.texturaSolo === this.tiposSolo.ARGILOSO">
      <span class="tipoSolo"> Argiloso</span> +40% de argila
    </span>
    <span *ngIf="this.generalForm.value.texturaSolo === this.tiposSolo.TEXTURA_MEDIA">
      <span class="tipoSolo"> Text. Média</span> 25 a 40% de argila
    </span>
    <span>Sistema de Cultivo: </span>
    <mat-form-field appearance="outline">
      <mat-label>Sistema de Cultivo</mat-label>
      <mat-select required formControlName="sistemaCultivo" name="Sistema de Cultivo">
        <mat-option [value]="1"> Plantio Direto </mat-option>
        <mat-option [value]="2"> Convencional </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
    <span>Responsável Técnico: </span>
    <mat-form-field appearance="outline">
      <mat-label>Responsável Técnico</mat-label>
      <input class="responsavelTecnico" required
        matInput
        formControlName="responsavelTecnico"
        placeholder="Responsável Técnico"
      />
    </mat-form-field>
    <span>Profundidade da amostra de solos (cm): </span>
    <mat-form-field appearance="outline">
      <mat-label>Profundidade da amostra de solos (cm)</mat-label>
      <input class="profundidadeAmostra" required
        matInput
        formControlName="profundidadeAmostra"
        placeholder="Profundidade da amostra de solos (cm)"
      />
    </mat-form-field>
    <span>Resultado da análise de solos Nº: </span>
    <mat-form-field appearance="outline">
      <mat-label>Resultado da análise de solos Nº</mat-label>
      <input class="resultNum" required
        matInput
        formControlName="resultNum"
        placeholder="Resultado da análise de solos Nº"
      />
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <h1>Teores</h1>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card>
      <mat-card-title>mg.dm3 | mehlich</mat-card-title>
      <mat-card-content>
        <h3 class="cardLabel">Fósforo:</h3>
        <mat-form-field appearance="outline">
          <mat-label>Fósforo</mat-label>
          <input type="number" class="fosforo" required matInput formControlName="fosforo" placeholder="Fósforo" />
        </mat-form-field>
        <h3 class="cardIdeal">Ideal: <span>{{this.generalForm.value.texturaSolo === this.tiposSolo.ARGILOSO ? this.IdeaisSoloArgiloso.fosforo : this.generalForm.value.texturaSolo === this.tiposSolo.TEXTURA_MEDIA ? this.IdeaisSoloMedia.fosforo : "Informe textura do solo"}}</span></h3>
        <h3 class="cardCorrec">Após Correção: 0,0</h3>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title fxLayout="row wrap" fxLayoutAlign="center center"
        >cmol</mat-card-title
      >
      <mat-card-content fxLayout="column wrap" fxLayoutAlign="center center">
        <h3 class="cardLabel">Potássio:</h3>
        <mat-form-field appearance="outline">
          <mat-label>Potássio</mat-label>
          <input type="number" class="potassio" required matInput formControlName="potassio" placeholder="Potássio" />
        </mat-form-field>
        <h3 class="cardIdeal">Ideal: <span>{{this.generalForm.value.texturaSolo === this.tiposSolo.ARGILOSO ? this.IdeaisSoloArgiloso.potassio : this.generalForm.value.texturaSolo === this.tiposSolo.TEXTURA_MEDIA ? this.IdeaisSoloMedia.potassio : "Informe textura do solo"}}</span></h3>
        <h3 class="cardCorrec">Após Correção: 0,0</h3>

        <h3 class="cardLabel">Cálcio:</h3>
        <mat-form-field appearance="outline">
          <mat-label>Cálcio</mat-label>
          <input type="number" class="calcio" required matInput formControlName="calcio" placeholder="Cálcio" />
        </mat-form-field>
        <h3 class="cardIdeal">Ideal: <span>{{this.generalForm.value.texturaSolo === this.tiposSolo.ARGILOSO ? this.IdeaisSoloArgiloso.calcio : this.generalForm.value.texturaSolo === this.tiposSolo.TEXTURA_MEDIA ? this.IdeaisSoloMedia.calcio : "Informe textura do solo"}}</span></h3>
        <h3 class="cardCorrec">Após Correção: 0,0</h3>

        <h3 class="cardLabel">Magnésio:</h3>
        <mat-form-field appearance="outline">
          <mat-label>Magnésio</mat-label>
          <input type="number" class="magnesio" required matInput formControlName="magnesio" placeholder="Magnésio" />
        </mat-form-field>
        <h3 class="cardIdeal">Ideal: <span>{{this.generalForm.value.texturaSolo === this.tiposSolo.ARGILOSO ? this.IdeaisSoloArgiloso.magnesio : this.generalForm.value.texturaSolo === this.tiposSolo.TEXTURA_MEDIA ? this.IdeaisSoloMedia.magnesio : "Informe textura do solo"}}</span></h3>
        <h3 class="cardCorrec">Após Correção: 0,0</h3>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>mg.dm3</mat-card-title>
      <mat-card-content>
        <h3 class="cardLabel">Enxofre:</h3>
        <mat-form-field appearance="outline">
          <mat-label>Enxofre</mat-label>
          <input type="number" class="enxofre" required matInput formControlName="enxofre" placeholder="Enxofre" />
        </mat-form-field>
        <h3 class="cardIdeal">Ideal: <span>{{this.generalForm.value.texturaSolo === this.tiposSolo.ARGILOSO ? this.IdeaisSoloArgiloso.enxofre : this.generalForm.value.texturaSolo === this.tiposSolo.TEXTURA_MEDIA ? this.IdeaisSoloMedia.enxofre : "Informe textura do solo"}}</span></h3>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Alumínio</mat-card-title>
      <mat-card-content>
        <h3 class="cardLabel">Alumínio:</h3>
        <mat-form-field appearance="outline">
          <mat-label>Alumínio</mat-label>
          <input type="number" class="aluminio" required matInput formControlName="aluminio" placeholder="Alumínio" />
        </mat-form-field>
        <h3 class="cardIdeal">Ideal: <span>{{this.generalForm.value.texturaSolo === this.tiposSolo.ARGILOSO ? this.IdeaisSoloArgiloso.aluminio : this.generalForm.value.texturaSolo === this.tiposSolo.TEXTURA_MEDIA ? this.IdeaisSoloMedia.aluminio : "Informe textura do solo"}}</span></h3>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>H + AL</mat-card-title>
      <mat-card-content>
        <h3 class="cardLabel">H + AL:</h3>
        <mat-form-field appearance="outline">
          <mat-label>H + AL</mat-label>
          <input type="number" class="hal" required matInput formControlName="hal" placeholder="H + AL" />
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>M.O.</mat-card-title>
      <mat-card-content>
        <h3 class="cardLabel">M.O.:</h3>
        <mat-form-field appearance="outline">
          <mat-label>M.O.</mat-label>
          <input type="number" class="mo" required matInput formControlName="mo" placeholder="M.O" />
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</form>

<div #resultados fxLayout="row" fxLayoutAlign="space-evenly center">
  <h2>
    S cmol:
    <mat-form-field appearance="outline">
      <input class="scmol" matInput [value]="this.results.scmol" [disabled]="!this.results.scmol" readonly placeholder="S cmol" />
    </mat-form-field>
  </h2>
  <h2>CTC cmol:
    <mat-form-field appearance="outline">
      <input class="ctccmol" matInput [value]="this.results.ctccmol" [disabled]="!this.results.ctccmol" readonly placeholder="CTC cmol" />
    </mat-form-field>
  </h2>
  <h2>V% atual:
    <mat-form-field appearance="outline">
      <input class="vatual" matInput [value]="this.results.vatual" [disabled]="!this.results.vatual" readonly placeholder="V% atual" />
    </mat-form-field>
  </h2>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <h2>M.O. %:
    <mat-form-field appearance="outline">
      <input class="moporcento" matInput [value]="this.results.mo" [disabled]="!this.results.mo" readonly placeholder="M.O. %" />
      <mat-hint>Teor ideal de M.O.: 3,0 a 4,0%</mat-hint>
    </mat-form-field>
  </h2>
  <h2>Carbono:
    <mat-form-field appearance="outline">
      <input class="carbono" matInput [value]="this.results.carbono" [disabled]="!this.results.carbono" readonly placeholder="Carbono" />
    </mat-form-field>
  </h2>
</div>

