.tipoSolo {
    font-weight: bold;
    font-size: 15px
}

span {
    margin-bottom: 20px;
}

.generalData {
    margin: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cardLabel {
    font-weight: bold;
}

.cardIdeal {
    font-weight: bold;
    color: blue;
}