<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Dados Gerais">
        <app-general-data></app-general-data>
    </mat-tab>
    <mat-tab label="Correção/Recuperação de Fósforo">
      <app-phosphorus-correction></app-phosphorus-correction>
    </mat-tab>
    <mat-tab label="Correção/Recuperação de Potássio">
      <app-potassium-correction></app-potassium-correction>
    </mat-tab>
    <mat-tab label="Correção/Recuperação de Cálcio e Magnésio">
      <app-calcium-magnesium-correction></app-calcium-magnesium-correction>
    </mat-tab>
</mat-tab-group>



